---
---

$logo-width-mm: 48;
$logo-height-mm: 30;

$logo-margin-vertical-mm: 15;
$logo-margin-horizontal-mm: 11;

$logo-width-px: 1122;
$logo-height-px: 699;

$logo-margin-vertical-px: $logo-width-px / 100 * (100 / $logo-width-mm * $logo-margin-vertical-mm);
$logo-margin-horizontal-px: $logo-height-px / 100 * (100 / $logo-height-mm * $logo-margin-horizontal-mm);

@mixin logo-size($scale) {
  $logo-height-scaled: $logo-height-px * $scale;
  $margin-vertical-scaled: $logo-margin-vertical-px * $scale;
  $margin-horizontal-scaled: $logo-margin-horizontal-px * $scale;
  height: $logo-height-scaled + px;
  margin-top: $margin-vertical-scaled + px;
  margin-bottom: $margin-vertical-scaled + px;
  margin-right: $margin-horizontal-scaled + px;
}


$primary: #c84646;

.logo-wrapper {
  position: relative;
  text-align: right;
  display: none;
}

.logo {
  @include logo-size(0.025);
}


.logo-small {
  @include logo-size(0.01);
}


.stockwerk-title {
  margin-left: 0px;
}

.raum-title {
  margin-left: 0px;
  color: $primary;
}

.raum-table-container {
  margin-left: 0px;
  margin-right: 0px;
}

@media (min-width: 768px) {

  .logo-wrapper {
    display: block;
  }

  .logo {
    @include logo-size(0.05);
  }

  .logo-small {
    @include logo-size(0.025);
  }

  .stockwerk-title {
    margin-left: 15px;
  }

  .raum-title {
    margin-left: 15px;
  }

  .raum-table-container {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (min-width: 992px) {
  .logo {
    @include logo-size(0.1);
  }

  .logo-small {
    @include logo-size(0.075);
  }
}

