<head>
  <meta charset="utf-8">

  <title>{{ page.title }}</title>
  <meta name="description" content="Management Seite für Sensoren verteilt in den BBB Gebäuden.">
  <meta name="author" content="Nils Egger">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Hind+Madurai:400,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/bootstrap.css" />
  <link rel="stylesheet" href="assets/css/custom.css" />
</head>